<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta name="description" content="Monitor CI Dashboard">
        <meta name="author" content="Daynix Computing LTD">

        <title>Monitor CI - {{ host_name }}</title>

        <!-- Custom fonts for this template-->
        <link href="vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
        <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">

        <!-- Custom styles for this template-->
        <link href="css/sb-admin-2.min.css" rel="stylesheet">
    </head>
    <body id="page-top">
        <!-- Page Wrapper -->
        <div id="wrapper">
            <!-- Sidebar -->
            <ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">

                <!-- Sidebar - Brand -->
                <a class="sidebar-brand d-flex align-items-center justify-content-center" href="/">
                    <div class="sidebar-brand-icon rotate-n-15">
                    <i class="fas fa-binoculars"></i>
                    </div>
                    <div class="sidebar-brand-text mx-3">Monitor <sup>CI</sup></div>
                </a>

                <!-- Divider -->
                <hr class="sidebar-divider my-0">

                <!-- Nav Item - Dashboard -->
                <li class="nav-item active">
                    <a class="nav-link" href="/">
                    <i class="fas fa-fw fa-tachometer-alt"></i>
                    <span>Dashboard</span></a>
                </li>

            <!-- Divider -->
            <hr class="sidebar-divider">

            <!-- Heading -->
            <div class="sidebar-heading">
                Configuration
            </div>

            <li class="nav-item">
                <a class="nav-link" href="#hw">
                <i class="fas fa-fw fa-microchip"></i>
                <span>HW</span></a>
            </li>

            <li class="nav-item">
                <a class="nav-link" href="#storage">
                <i class="fas fa-fw fa-hdd"></i>
                <span>Storage</span></a>
            </li>

            <li class="nav-item">
                <a class="nav-link" href="#bridges">
                <i class="fas fa-fw fa-hdd"></i>
                <span>Network bridges</span></a>
            </li>

            <!-- Divider -->
            <hr class="sidebar-divider">

            <!-- Heading -->
            <div class="sidebar-heading">
                Test setup
            </div>

            <!-- Nav Item - auto_hck processes -->
            <li class="nav-item">
                <a class="nav-link" href="#auto_hck">
                <i class="fas fa-fw fa-chart-area"></i>
                <span>auto_hck processes</span></a>
            </li>

            <!-- Nav Item - QEMU processes -->
            <li class="nav-item">
                <a class="nav-link" href="#qemu">
                <i class="fas fa-fw fa-chart-bar"></i>
                <span>QEMU processes</span></a>
            </li>

             <!-- Nav Item - ivshmem servers processes -->
            <li class="nav-item">
                <a class="nav-link" href="#ivshmem">
                <i class="fas fa-fw fa-chart-bar"></i>
                <span>ivshmem processes</span></a>
            </li>

            <!-- Divider -->
            <hr class="sidebar-divider d-none d-md-block">

            <!-- Sidebar Toggler (Sidebar) -->
            <div class="text-center d-none d-md-inline">
                <button class="rounded-circle border-0" id="sidebarToggle"></button>
            </div>

            </ul>
            <!-- End of Sidebar -->

            <!-- Content Wrapper -->
            <div id="content-wrapper" class="d-flex flex-column">

                <!-- Main Content -->
                <div id="content">

                    <!-- Placehoder for Topbar Navbar -->
                    <nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow">
                    </nav>

                    <!-- Begin Page Content -->
                    <div class="container-fluid">
                        <!-- Page Heading -->
                        <div class="d-sm-flex align-items-center justify-content-between mb-4">
                            <h1 class="h3 mb-0 text-gray-800">Dashboard</h1>
                        </div>
                        <!-- End Page Heading -->

                        <!-- Content Row -->
                        <a id="hw"></a>
                        <div class="row">
                            <!-- Storage info -->
                            <div class="col-xl-3 col-md-6 mb-4">
                            <div class="card border-left-primary shadow h-100 py-2">
                                <div class="card-body">
                                <div class="row no-gutters align-items-center">
                                    <div class="col mr-2">
                                    <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">Server name</div>
                                    <div class="h5 mb-0 font-weight-bold text-gray-800">{{ host_name }}</div>
                                    </div>
                                    <div class="col-auto">
                                    <i class="fas fa-laptop fa-2x text-gray-300"></i>
                                    </div>
                                </div>
                                </div>
                            </div>
                            </div>

                            <!-- Earnings (Monthly) Card Example -->
                            <div class="col-xl-3 col-md-6 mb-4">
                            <div class="card border-left-success shadow h-100 py-2">
                                <div class="card-body">
                                <div class="row no-gutters align-items-center">
                                    <div class="col mr-2">
                                    <div class="text-xs font-weight-bold text-success text-uppercase mb-1">Number of CPUs</div>
                                    <div class="h5 mb-0 font-weight-bold text-gray-800">{{ number_of_cpus }}</div>
                                    </div>
                                    <div class="col-auto">
                                    <i class="fas fa-microchip fa-2x text-gray-300"></i>
                                    </div>
                                </div>
                                </div>
                            </div>
                            </div>

                            <!-- Earnings (Monthly) Card Example -->
                            <div class="col-xl-3 col-md-6 mb-4">
                            <div class="card border-left-info shadow h-100 py-2">
                                <div class="card-body">
                                <div class="row no-gutters align-items-center">
                                    <div class="col mr-2">
                                    <div class="text-xs font-weight-bold text-info text-uppercase mb-1">Memory</div>
                                    <div class="row no-gutters align-items-center">
                                        <div class="col-auto">
                                        <div class="h5 mb-0 mr-3 font-weight-bold text-gray-800">Total: {{ total_memory }}GB</div>
                                        <div class="h5 mb-0 mr-3 font-weight-bold text-gray-800">Free: {{ free_memory }}GB</div>
                                        </div>
                                        <div class="col">
                                        <div class="progress progress-sm mr-2">
                                            <div class="progress-bar bg-info" role="progressbar" style="width: {{ free_memory_ratio }}%" aria-valuenow="{{ free_memory_ratio }}" aria-valuemin="0" aria-valuemax="100"></div>
                                        </div>
                                        </div>
                                    </div>
                                    </div>
                                    <div class="col-auto">
                                    <i class="fas fa-memory fa-2x text-gray-300"></i>
                                    </div>
                                </div>
                                </div>
                            </div>
                            </div>

                            <!-- Pending Requests Card Example -->
                            <div class="col-xl-3 col-md-6 mb-4">
                            <div class="card border-left-warning shadow h-100 py-2">
                                <div class="card-body">
                                <div class="row no-gutters align-items-center">
                                    <div class="col mr-2">
                                    <div class="text-xs font-weight-bold text-warning text-uppercase mb-1">OS Info</div>
                                    <div class="h5 mb-0 font-weight-bold text-gray-800">{{ os_info }}</div>
                                    </div>
                                    <div class="col-auto">
                                    <i class="fas fa-atom fa-2x text-gray-300"></i>
                                    </div>
                                </div>
                                </div>
                            </div>
                            </div>
                        </div>
                        <!-- End Content Row -->

                        <!-- Content Row - Storage information -->
                        <a id="storage"></a>
                        <div class="row">
                            <!-- Approach -->
                            <div class="card shadow mb-4">
                                <div class="card-header py-3">
                                <h6 class="m-0 font-weight-bold text-primary">Storage information</h6>
                                </div>
                                <div class="card-body">
                                <ul>
                                {% for disk in storage_info %}
                                    <li>{{ disk }}</li>
                                {% endfor %}
                                </ul>
                                </div>
                            </div>
                        </div>
                        <!-- End Content Row - Storage information -->

                        <!-- Content Row - Setup information -->
                        <a id="auto_hck"></a>
                        <div class="row">
                            <!-- Approach -->
                            <div class="card shadow mb-4">
                                <div class="card-header py-3">
                                <h6 class="m-0 font-weight-bold text-primary">Running setup</h6>
                                </div>
                                <div class="card-body">
                                    <p><pre>{{ setup_info }}</pre></p>
                                </div>
                            </div>
                        </div>
                        <!-- End Content Row - setup information -->

                        <!-- Content Row - QEMU information -->
                        <a id="qemu"></a>
                        <div class="row">
                            <!-- Approach -->
                            <div class="card shadow mb-4">
                                <div class="card-header py-3">
                                <h6 class="m-0 font-weight-bold text-primary">QEMU processes</h6>
                                </div>
                                <div class="card-body">
                                <p><pre>{{ qemu_info }}</pre></p>
                                </div>
                            </div>
                        </div>
                        <!-- End Content Row - QEMU information -->

                        <!-- Content Row - ivshmem servers information -->
                        <a id="ivshmem"></a>
                        <div class="row">
                            <!-- Approach -->
                            <div class="card shadow mb-4">
                                <div class="card-header py-3">
                                <h6 class="m-0 font-weight-bold text-primary">ivshmem servers processes</h6>
                                </div>
                                <div class="card-body">
                                <p><pre>{{ ivshmem_info }}</pre></p>
                                </div>
                            </div>
                        </div>
                        <!-- End Content Row - ivshmem servers information -->

                        <!-- Content Row - bridge information -->
                        <a id="bridges"></a>
                        <div class="row">
                            <!-- Approach -->
                            <div class="card shadow mb-4">
                                <div class="card-header py-3">
                                <h6 class="m-0 font-weight-bold text-primary">Network bridges</h6>
                                </div>
                                <div class="card-body">
                                <p><pre>{{ bridge_info }}</pre></p>
                                </div>
                            </div>
                        </div>
                        <!-- End Content Row - bridge information -->

                        <p></p>
                    </div>
                    <!-- End Page Content -->
                </div>
                <!-- End Main Content -->
            </div>
            <!-- End Content Wrapper -->
        </div>
        <!-- End of Page Wrapper -->

        <!-- Footer -->
        <footer class="sticky-footer bg-white">
            <div class="container my-auto">
                <div class="copyright text-center my-auto">
                    <span>Copyright &copy; Red Hat Inc 2020</span>
                </div>
            </div>
        </footer>
        <!-- End of Footer -->

        <!-- Scroll to Top Button-->
        <a class="scroll-to-top rounded" href="#page-top">
            <i class="fas fa-angle-up"></i>
        </a>

        <!-- Bootstrap core JavaScript-->
        <script src="vendor/jquery/jquery.min.js"></script>
        <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

        <!-- Core plugin JavaScript-->
        <script src="vendor/jquery-easing/jquery.easing.min.js"></script>

        <!-- Custom scripts for all pages-->
        <script src="js/sb-admin-2.min.js"></script>
    </body>
</html>